.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-size: contain;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  height: 92vh;
  background: linear-gradient(#BDBDBD, #343F87);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.inputcontainer input {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-size: 16px;
}

.signup a {
  color: #81BC01;
  font-weight: 500;
  cursor: pointer;
}

.loginBut {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  background: linear-gradient(#f8efef, white);
  border: 2px solid #1F2075;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 2px 2px #343F87;
}

.loginBut:hover {
  transform: scale(1.1);
}

.texts {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .loginContainer {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .loginContainer {
    width: 90%;
  }
}
