
.profile-container {
  display: flex;
  align-items: flex-start; /* Align items at the top of the container */
  justify-content: center; /* Center items horizontally */
  margin-top: 30px;
  margin-bottom: 60px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex; /* Add display flex to create a flex container */
  gap: 20px; /* Add gap between the two divs */
}

.title-container {
  margin-bottom: 20px;
  text-align: center;
}

.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease;
  color: #81bc01;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #81bc01;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
  color: #1f2075;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.edit-profile-form {
  max-width: 600px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-label {
  font-weight: bold;
  width: 20%;
  text-align: right;
  margin-right: 10px;
}

.form-input {
  margin-top: 5px;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

/* Rest of the CSS code remains the same */


.form-input:focus {
  border-color: #1f2075;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.form-button {
  background-color: #bdbdbd;
  color: black;
  font-weight: 500;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

.return-button {
  background-color: #1f2075;
  color: white;
}

.save-button {
  background-color: rgb(211, 64, 64);
  color: white;
}

.sidebar {
  background-color: #bdbdbd62;
  width: 350px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  height: 54vh;
  margin-left: 20px;
  border-radius: 20px;
}

.sidebar:hover {
  width: 360px;
}

.sidebar-content {
  margin-bottom: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.sidebar p {
  margin-bottom: 8px;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 30px;
}

.sidebar-profile:hover .sidebar-profile-img {
  transform: scale(1.1);
}

.sidebar-profile-img {
  width: 70px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.sidebar-profile-info {
  margin-left: 10px;
}

.sidebar-description {
  color: #333;
  line-height: 1.5;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
