.offer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
/* 
 */

.input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 600px;
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-basis: calc(50% - 10px);
}

.form-icon {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.google-maps-image-container {
  margin: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.google-maps-image {
  width: 100%;
  border-radius: 5px;
}
.f-title {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-linear-gradient(to right, #1f2075, #81bc01);
  background-image: linear-gradient(to right, #1f2075, #81bc01);
  font-size: 1.6rem;
  margin-bottom: 20px;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.OfferBtn {
  background: linear-gradient(#81bc01, #343f87);
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  width: 124px;
  height: 37px;
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: center;
  display: flex;
  margin-left: 600px;
  margin-bottom: 30px;
}
.titres {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-linear-gradient(to right, #1f2075, #81bc01);
  background-image: linear-gradient(to right, #1f2075, #81bc01);
  font-size: 1.6rem;

  font-family: "Poppins", sans-serif;
  font-weight: bold;
  align-self: center;
  justify-content: center;
  margin-left: 600px;
  margin-top: 20px;
}

.OfferBtn:hover {
  background: linear-gradient(#343f87, #81bc01);
}

.OfferBtn:focus {
  outline: none;
}
.hh {
  background:  #343f87;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  width: 124px;
  height: 37px;
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
}

.hh:hover {
  background: linear-gradient(#343f87, #343f87d5);
  transform: scale(1.02);
}

.hh:focus {
  outline: none;
}

.hh::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  
}


.popup-content {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 320px;
  margin: 0 auto;
}

.popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

.checkmark {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.option-label {
  font-size: 15px;
}

.submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 16px;

  
} 
.option-icon {
  margin-right: 10px;
  vertical-align: middle;
}
