.CarContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  font-family: "Poppins", serif;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

.Carcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-right: 150px;

}
.firstCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
}

.profilecard {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carddetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cardicon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #81bc01;
}

.middle-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 400px;
}

.line-label {
  font-weight: bold;
  margin-right: 10px;
}

.CarLine {
  border: 2px solid #cccccca2;
  width: 410px;
}

.line-price {
  font-size: 1.2rem;
}

.CenterPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.trajet {
  margin: 0 10px;
}

.cardinfo {
  display: flex;
  align-items: center;
}

.cardinfoicon {
  margin-right: 10px;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profilecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 80px;
}

.profileicon {
  font-size: 24px;
}

.profiletext {
  display: flex;
  flex-direction: column;
}

.profilename {
  font-weight: bold;
}

.profilerating {
  display: flex;
}

.Carstar {
  color: #fbc02d;
  font-size: 18px;
  margin-right: 5px;
}

.star.half {
  color: #c0c0c0;
}

.profileoptions {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  align-items: center;
 margin-left: 60px;
}

.option-icon {
  margin-right: 5px;
}

.option-text {
  margin-top: 2px;
}

.option-icon.ban {
  color: red;
}

.validerbutton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #1f2075;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.validerbutton:hover {
  background-color: #81bc01;
}
