.header {
  background-image: url("../../assets/header.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
  width: 100%;
}

.headerImage {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 10px 0;
}

.headerContainer.listMode {
  margin: 20px 0 100px 0;
}

.headerList {
  display: flex;
  gap: 40px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerBtn {
  background: linear-gradient(#81bc01, #343f87);
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  width: 124px;
  height: 37px;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 42px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchItemCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 40px;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .headerList {
    margin-top: 20px;
    gap: 20px;
  }

  .headerSearch {
    position: static;
    margin-top: 20px;
  }
  
  .headerSearchItem {
    flex-direction: column;
    align-items: center;
  }

  .headerSearchItemCenter {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: auto;
    padding: 20px;
  }

  .headerContainer {
    width: 100%;
    padding: 0 20px;
  }

  .headerContainer.listMode {
    margin-bottom: 60px;
  }

  .headerList {
    flex-wrap: wrap;
    justify-content: center;
  }

  .headerListItem {
    padding: 5px;
  }
  
  .headerBtn {
    width: 100%;
  }

  .headerSearch {
    position: static;
    margin-top: 20px;
    flex-direction: column;
  }

  .headerSearchItem {
    margin-bottom: 10px;
  }
}
