.header {
  background-image: url("../../assets/search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 10px auto;
}

.headerSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 600px;
  margin-left: 200px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.input-icon {
  color: #343f87;
}

.form-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.headerBtn {
  background: linear-gradient(#81bc01, #343f87);
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 8px;
  margin-top: 18px;
  cursor: pointer;
  width: 160px;
  height: 37px;
  border: none;
}

.headerBtn:hover {
  background: linear-gradient(#343f87, #81bc01);
}

.headerBtn:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .headerSearch {
    position: static;
    margin-top: 20px;
  }

  .search-form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .headerBtn {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: auto;
    padding: 20px;
  }

  .headerContainer {
    width: 100%;
    padding: 0 20px;
  }

  .headerContainer.listMode {
    margin-bottom: 60px;
  }

  .headerSearch {
    position: static;
    margin-top: 20px;
    flex-direction: column;
  }
}
