.navbar {
  background-color: white;
  padding: 11px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #283482;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;

}
.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}
.navbar-icons-container {
  display: flex;
  align-items: center;
}
.nav-icon {
  margin-right: 0.5rem;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  color: #333;
}

.navbar-icon {
  margin-right: 0.5rem;
  width: 4rem;
  height: 3rem;
}
.navbar-menu {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.navbar-menu.open {
  transform: translateX(0%);
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #666;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  color: #333;
}

.navbar-toggle {
  cursor: pointer;
}

.toggle-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon.open {
  transform: rotate(45deg);
}

.toggle-icon.open:before,
.toggle-icon.open:after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon.open:before {
  transform: translateY(-8px) rotate(90deg);
}

.toggle-icon.open:after {
  transform: translateY(8px) rotate(90deg);
}
