.footer {
    width: 100%;
    font-family: Poppins , sans-serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

  }

  .fText {
    display: flex;
    justify-content: center;
    
  }